<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josiah Park">
    <meta name="description" content="portfolio josiah-park">
    <meta property="og:title" content="Josiah's Portfolio">
    <meta property="og:url" content="http://JosiahPark.com">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="favicon_io\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <title>Personal Portfolio</title>
</head>
<body>
    <section id="contact" class="active">
        <div class="up"></div>
        <h2>Contact</h2>
        <form action="method">
            <p>Contact Information</p>
            <section>
                <h3>
                    <label for="name">
                        <p>Name:</p>
                    </label>
                    <input type="text" id="name" name="username">
                </h3>
                <h3>
                    <label for="mail">
                        <p>Email:</p>
                    </label>
                    <input type="email" id="mail" name="useremail">
                </h3>
                <h3>
                    <label for="msg">
                        <p>Your message:</p>
                    </label>
                    <input type="text" id="msg" name="usermessage">
                </h3>
            </section>
        </form>
        <h2>Resume:</h2>
        <a href=""></a>
        <div class="down"></div>
    </section>
    <footer>
        <p>Author: Josiah Park</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="./script.js"></script>
</body>