<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josiah Park">
    <meta name="description" content="portfolio josiah-park">
    <meta property="og:title" content="Josiah's Portfolio">
    <meta property="og:url" content="http://JosiahPark.com">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="favicon_io\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <title>Personal Portfolio</title>
</head>
<body>
    <h2 class="highlight">Okay, so like... This isn't a page a'ight buddy?</h2>
    <a  class="highlight" href="/" class="highlight">Back to Home</a>
</body>