<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josiah Park">
    <meta name="description" content="portfolio josiah-park">
    <meta property="og:title" content="Josiah's Portfolio">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="favicon_io\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <title>Personal Portfolio</title>
</head>
<body>
    <section id="goals" class="active">
        <div class="up"></div>
        <div class="panel">
            <h2 class="title">Future Goals:</h2>
            <h3 class="certif_title">Python and JS Certification</h3>
            <p class="certif_explain">After West-Mec I have get these certifications that will be very helpful in finding a career on the future.</p>
            <h3 class="backend_title">Senior Back-end Developer</h3>
            <p class="backend_explain">It would be great to get into back-end programming and if it is fun and I don't fear it will be overshadowed in the future, I'll do it!</p>
            <h3 class="gamedev_title">Game Development</h3>
            <p class="gamedev_explain">Not meant to be a career but for when I have time on the side</p>
        </div>
        <div class="down"></div>
    </section>
    <footer>
        <p>Author: Josiah Park</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="script.js"></script>
</body>