<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josiah Park">
    <meta name="description" content="portfolio josiah-park">
    <meta property="og:title" content="Josiah's Portfolio">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="favicon_io\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <title>Personal Portfolio</title>
</head>
<body>
    <a href="/" class="highlight">Back to Home</a>
    <div class="highlight">
        <p id="platform">Platform: N/A</p>
        <p id="arch">CPU Arch: N/A</p>
        <p id="tot-mem">Total Memory: N/A</p>
        <p id="fre-mem">Free Memory: N/A</p>
        <p id="uptime">Uptime: N/A</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/event_loop/script.js"></script>
</body>